@using Abc.Pages.Common.Extensions;
@model Abc.Pages.Shop.Admin.BasketItemsPage;

<body>
    @Html.Editor(m => m.Item.UnitPrice)
    @Html.Editor(m => m.Item.Quantity)
    @Html.Editor(m => m.Item.ProductId)
    @Html.Editor(m => m.Item.BasketId)
    @Html.Editor(m => m.Item.From)
    @Html.Editor(m => m.Item.To)
</body>
