@using Abc.Pages.Common.Extensions;
@model Abc.Pages.Shop.Admin.BuyersPage;

<body>
    @Html.Editor(m => m.Item.Id)
    @Html.Editor(m => m.Item.Code)
    @Html.Editor(m => m.Item.Name)
    @Html.Editor(m => m.Item.Street)
    @Html.Editor(m => m.Item.City)
    @Html.Editor(m => m.Item.State)
    @Html.Editor(m => m.Item.Country)
    @Html.Editor(m => m.Item.ZipCode)
    @Html.Editor(m => m.Item.From)
    @Html.Editor(m => m.Item.To)
</body>
