@using Abc.Pages.Common.Aids
@using Abc.Pages.Common.Consts
@using Abc.Pages.Common.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Soft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @Html.DropMenu("Admin",
                            new Link("Baskets", new Uri("/Shop/Baskets/Index?handler=index", UriKind.Relative)),
                            new Link("Basket items", new Uri("/Shop/BasketItems/Index?handler=index", UriKind.Relative)),
                            new Link("Brands", new Uri("/Shop/Brands/Index?handler=index", UriKind.Relative)),
                            new Link("Catalogs", new Uri("/Shop/Catalogs/Index?handler=index", UriKind.Relative)),
                            new Link("Orders", new Uri("/Shop/Orders/Index?handler=index", UriKind.Relative)),
                            new Link("Order items", new Uri("/Shop/OrderItems/Index?handler=index", UriKind.Relative)),
                            new Link("Products", new Uri("/Shop/Products/Index?" +
                      "handler=index", UriKind.Relative)),
                            new Link("Buyers", new Uri("/Shop/Buyers/Index?handler=index", UriKind.Relative))
                        )
                        @Html.DropMenu("Client",
                            new Link("My data", new Uri("/Client/Buyers/Index?handler=index", UriKind.Relative)),
                            new Link("Brands", new Uri("/Client/Brands/Index?handler=index",UriKind.Relative)),
                            new Link("Catalogs", new Uri("/Client/Catalogs/Index?handler=index", UriKind.Relative)),
                            new Link("Products", new Uri("/Client/Products/Index?handler=index", UriKind.Relative)),
                            new Link("My baskets", new Uri("/Client/Baskets/Index?handler=index", UriKind.Relative)),
                            new Link("My orders", new Uri("/Client/Orders/Index?handler=index", UriKind.Relative))
                        )

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Soft - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
