@using Abc.Pages.Common.Extensions;
@model Abc.Pages.Shop.Client.BasketItemsClientPage;

<body>
    @Html.Show(m => m.Item.ProductId, Model.ProductName(Model.Item.ProductId))
    @Html.DisplayImageFor(m => m.Item.ProductImage, 150)
    @Html.Show(m => m.Item.UnitPrice)
    @Html.Show(m => m.Item.Quantity)
    @Html.Show(m => m.Item.TotalPrice)
</body>