@using Abc.Pages.Common.Extensions;
@model Abc.Pages.Shop.Admin.OrderItemsPage;

<body>
    @Html.Show(m => m.Item.ProductId)
    @Html.Show(m => m.Item.ProductName)
    @Html.Show(m => m.Item.PictureUri)
    @Html.Show(m => m.Item.UnitPrice)
    @Html.Show(m => m.Item.Quantity)
    @Html.Show(m => m.Item.OrderId)
    @Html.Show(m => m.Item.From)
    @Html.Show(m => m.Item.To)
</body>